/*SECCION 1*/
.section-1 {
    --sec1-bg: var(--color4);
    --sec1-txt: var(--color4-text);
    --sec1-txt2: var(--color4-text2);

    /*     pongo colores fijos por que creo que este caso es especifico y probablemente no se vuelva a usar*/
    --sec2-bg: rgba(255, 255, 255, 0.3);
    --sec2-txt: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-1 .subsection {
    display: flex;
    justify-content: center;
    background: var(--sec1-bg);
    padding: var(--padding);
    width: 100%;
    text-align: center;
}

.section-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: var(--max-width);
}

.section-1 .container.banner {
    position: relative;
    min-height: 400px;
    max-width: unset;
}

.section-1 .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1 .container.banner:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    background: var(--sec2-bg);
    backdrop-filter: blur(10px);
}


.section-1 .container h2 {
    text-align: center;
    color: var(--sec1-txt);
    font-size: 3rem;
    font-family: titulo;
    border-bottom: solid 1px var(--sec1-txt);
    padding: 0 40px;
    padding-bottom: 20px;
}

.section-1 .items {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.section-1 .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.section-1 .item p {
    font-size: 1.5rem;
    color: var(--sec2-txt);
    text-align: justify;
}

@media (max-width: 900px) {
    .section-1 .container.banner {
        margin-top: 50px;
    }

    .section-1 .container.banner:before {
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        backdrop-filter: blur(5px);
    }

    .section-1 .items {
        height: 100%;
        flex-direction: column;
    }

    .section-1 .item {
        flex: 1;
        flex-basis: 0;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .section-1 .container h2 {
        font-size: 2rem;
    }
}



/*SECCION 2*/

.section-2 {
    --sec1-bg: var(--color1);
    --sec1-txt: var(--color1-text);

    --card-bg: var(--color4);
    --card-txt: var(--color4-text);
    --card-txt2: var(--color4-text2);
    --card-txt3: var(--color4-text3);

    display: flex;
    justify-content: center;
    padding: 100px var(--padding);
    background: var(--sec1-bg);
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: var(--max-width);
}

.section-2 h2 {
    font-family: titulo;
    font-size: 2.5rem;
    color: var(--sec1-txt);
    text-align: center;
    margin: 20px 0;
}

.section-2 .items {
    display: flex;
    gap: 20px;
}

.section-2 .item {
    flex: 1;
    display: flex;
    max-width: 300px;
    cursor: pointer;
}

.section-2 .item .card {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    background: var(--card-bg);
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.section-2 .item:hover .card {
    transition: all 0.5s ease;
    transform: rotateY(180deg);
}

.section-2 .item .back:before,
.section-2 .item .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    backface-visibility: hidden;
}

.section-2 .item .back:before {
    content: '';
    background-image: var(--color6);
    opacity: 0.8;
}

.section-2 .item .back {
    transform: rotateY(180deg);
}

.section-2 .item .back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-2 .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    aspect-ratio: 2/1;
}

.section-2 .item .icon svg {
    width: 100%;
    height: 100%;
    --s1-bg: transparent;
    --s2-bg: transparent;
    --s3-bg: transparent;
    --s4-bg: transparent;
    --s5-bg: transparent;
    --s1-st: var(--card-txt3);
    --s2-st: var(--card-txt3);
    --s3-st: var(--card-txt3);
    --s4-st: var(--card-txt3);
    --s5-st: var(--card-txt3);
}

.section-2 .item h3 {
    font-size: 1.3rem;
    color: var(--card-txt);
    letter-spacing: 1px;
    text-align: center;
}

.section-2 .item p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: contenido;
    text-align: center;
    color: var(--card-txt2);
}

@media (max-width: 900px) {
    .section-2 .items {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 500px) {
    .section-2 h2 {
        font-size: 2rem;
    }
}



/*SECTION 3*/
.section-3 {
    --bg: var(--color4);
    --txt: var(--color4-text); 
    display: flex;




    display: flex;
    justify-content: center;
    background: var(--bg);
    padding: var(--padding);
}

.section-3 .container {
    display: block;
    width: 100%;
    max-width: var(--max-width);
}

.section-3 .container .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    width: 100%;
}

.section-3 .container .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;
}

.section-3 .container .item.title {
    grid-column: 1/3;
}

.section-3 .container .item.title h2 {
    font-family: titulo;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    color: var(--txt);
}

.section-3 .container .item .img {
    flex: 1;
    display: block;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 4/4;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.section-3 .container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease;
}

.section-3 .container .item:hover img {
    transform: scale(1.4);
    transition: all 0.2s ease;
}

.section-3 .container .item h3 {
    font-family: titulo;
    font-size: 1.4rem;
    text-align: center;
    color: var(--txt);
}

@media (max-width: 900px) {
    .section-3 .container .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .section-3 .container .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-3 .container .item.title {
        grid-column: unset;
    }

    .section-3 .container .item.title h2 {
        font-size: 2rem;
    }
}













































/*end*/
